<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <appSettings>
       <add key="Username" value="sebas.adm1n10" />
       <add key="Password" value="Demo1234" />
       <add key="BaseUrl" value="http://localhost:8080" />
       <add key="IssueEndpoint" value="rest/api/latest/issue/" />
     </appSettings>
</configuration>